Repository KnzkDev/KnzkApp, pull requests merged in 2018-04, with the labels that each got.

#46 fix gesture
  www/index.html
  www/js/init.js
Labels: bug 🐛

#48 Add Push Notification
  package.json
  res/android/icon/fcm_push_icon.png
  www/config/config.sample.js
  www/index.html
  www/js/config.js
  www/js/init.js
  www/js/notification.js
Labels: enhancement ✨, for Android 📱, for iOS 📱

#49 fix: fetch-ie8を強制的に使用
  www/js/account.js
  www/js/bookmark.js
  www/js/emoji.js
  www/js/init.js
  www/js/list.js
  www/js/login.js
  www/js/notification.js
  www/js/search.js
  www/js/timeline.js
  www/js/toot.js
  www/js/toot_new.js
  www/lib/fetch.js
Labels: bug 🐛, priority-high 🔥

#51 iOS App Icon に透過PNGが含まれていたため修正
  res/ios/icon/icon-1024.png
  res/ios/icon/icon-40.png
  res/ios/icon/icon-40@2x.png
  res/ios/icon/icon-50.png
  res/ios/icon/icon-50@2x.png
  res/ios/icon/icon-60.png
  res/ios/icon/icon-60@2x.png
  res/ios/icon/icon-60@3x.png
  res/ios/icon/icon-72.png
  res/ios/icon/icon-72@2x.png
  res/ios/icon/icon-76.png
  res/ios/icon/icon-76@2x.png
  res/ios/icon/icon-83.5@2x~ipad.png
  res/ios/icon/icon-small.png
  res/ios/icon/icon-small@2x.png
  res/ios/icon/icon-small@3x.png
  res/ios/icon/icon.png
  res/ios/icon/icon@2x.png
Labels: for iOS 📱
